<!DOCTYPE html>
<html>
<head>
	<title> Admin Panel Management</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="~/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- styles -->
	<link href="~/dashboard/css/styles.css" rel="stylesheet">


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<!-- Logo -->
					<div class="logo">
						<h1><a href="index.html"> Admin Dashboard Management </a></h1>
					</div>
				</div>
			
				<div class="col-md-2">
					<div class="navbar navbar-inverse" role="banner">
						<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
						
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<!-- Main menu -->
						@* <li class="current"><a asp-action="Index" asp-controller="CPanel"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li> *@
						<li><a asp-action="Index" asp-controller="Doctors"><i class="glyphicon glyphicon-calendar"></i> Doctors Profile</a></li>
						<li><a asp-action="Index" asp-controller="Appointments"><i class="glyphicon glyphicon-pencil"></i> Appointments</a></li>
						<li><a asp-action="Index" asp-controller="Patients"><i class="glyphicon glyphicon-tasks"></i> Patient Profiles</a></li>
						<li><a asp-action="Index" asp-controller="MedicalRecords"><i class="glyphicon glyphicon-tasks"></i> Medical Records </a></li>


						<!-- Logout Form -->
						<li>
							<form id="logoutForm" method="post" asp-action="Logout" asp-controller="CPanel" style="display: inline;">
								@Html.AntiForgeryToken()
								<button type="submit" class="btn btn-link" style="color: inherit; text-decoration: none;">
									<i class="glyphicon glyphicon-log-out"></i> Logout
								</button>
							</form>
						</li>
						@* <li class="submenu">
							<a href="#">
								<i class="glyphicon glyphicon-list"></i> Pages
								<span class="caret pull-right"></span>
							</a>
							<!-- Sub menu -->
							<ul>
								<li><a asp-action="Login" asp-controller="Account">Login</a></li>
								<li><a href="signup.html">Signup</a></li>
							</ul>
						</li> *@
					</ul>
				</div>
			</div>
			<div class="col-md-10">


				<div class="content-box-large">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="~/dashboard/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/dashboard/js/custom.js"></script>
</body>
</html>